<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-color-active-positive tabs-striped">

  <!-- Dashboard Tab -->
  <ion-tab title="Мои приборы" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Статистика" icon-off="ion-connection-bars" icon-on="ion-connection-bars" href="#/tab/statistics">
    <ion-nav-view name="tab-statistics"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Настройки" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
